@charset "UTF-8";
@font-face {
    font-family: 'IBMPlexSansKR-Medium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'IBMPlexSansKR-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'IBMPlexSansKR-Light';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


html, body, h1, h2, h3, h4, h5, h6, div, p, blockquote, pre, code, address, ul, ol, li, nav, section, article, header, footer, main, aside, dl, dt, dd, table, thead, tbody, tfoot, label, caption, th, td, form, fieldset, legend, hr, input, button, textarea, object, figure, figcaption {
  margin: 0;
  padding: 0;
}

body, input, select, textarea, button, img, fieldset {
  border: none;
}

ul, ol, li {
  list-style: none;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: fixed;
}

address, cite, code, em, i {
  font-style: normal;
  font-weight: normal;
}

label, img, input, select, textarea, button, a {
  vertical-align: middle;
}

u, ins, a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

a {
  color: #000;
  text-decoration: none;
  outline: none;
}

a:hover, a:active {
  text-decoration: none;
  background-color: none;
}

*, *::after, *::before {
  box-sizing: border-box;
}

/* Normalize */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number],
input[type=text],
input[type=password],
input[type=url],
input[type=email],
input[type=tel],
input[type=date],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input[type=date] {
  position: relative;
}

input[type=date]::-webkit-clear-button,
input[type=date]::-webkit-inner-spin-button {
  display: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
  color: transparent;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

input[type=date] {
  position: relative;
  width: 100px;
}

input[type=date]::before {
  content: attr(data-placeholder);
  width: 100%;
}

input[type=date]:valid::before {
  display: none;
}

html,
body {
  font-family: "IBMPlexSansKR-Medium", sans-serif;
}

html {
 
}

body {
  background: #1a1a1a;
  color: #fff;
}


.bg-video {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
  
}


a {color:#fff;}

section {max-width: 1200px; width: 100%; margin: 0 auto;}

.nav {width: 100%;}
.nav-wrap {position: fixed; top:55px; left:0; width:100%; z-index: 999;}
.nav .inner {max-width: 1200px; margin:0 auto; display: flex; align-items: center; justify-content: space-between;}

.logo {font-size: 23px;}

h2 {font-size: 40px;}
h3 {font-size: 34px;}

/* 인트로 */
.intro {position: relative; width: 100%; height: calc(100vh - 90px); display: flex; flex-direction: column; justify-content: center; text-align: center; padding-top:100px;}
.intro .ico-img {width: 65px; margin: 0 auto; padding-bottom: 40px;}
.intro .ico-img img {width: 100%;}
.intro h3 {padding-bottom: 45px;}
.intro p {font-size: 18px; font-family: "IBMPlexSansKR-Light", sans-serif; line-height: 1.8;}
.intro .btn a {border: 1px solid #fff; padding:15px 50px; border-radius: 100px; display: inline-block; margin-top: 80px; transition: all .3s ease;}
.intro .btn a:hover {color:#fa00ff; border: 1px solid #fa00ff;}

/* 프로젝트 */
.project {position: relative; width: 100%; height: calc(100vh - 90px); display: flex; flex-direction: column; justify-content: center;}
.project ul {display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; gap: 25px; margin-top: 40px;}
.project ul p {font-size: 14px; font-family: "IBMPlexSansKR-Light", sans-serif;}
.project ul span {font-size: 24px;}
.project ul li {height: 400px; transition: all .35s ease;}
.project ul li a {width: 100%; display: inline-block; border-radius: 6px; background: #fff; height: 100%; color: #000; padding:25px; transition: all .35s ease;}

.project ul li:nth-child(1) a {background-image: url(/images/bg-1.png); background-size: contain; background-repeat:no-repeat; background-position: bottom;}
.project ul li:nth-child(2) a {background-image: url(/images/bg-2.png); background-size: contain; background-repeat:no-repeat; background-position: bottom;}
.project ul li:nth-child(3) a {background-image: url(/images/bg-3.png); background-size: contain; background-repeat:no-repeat; background-position: bottom;}
.project ul li:nth-child(4) a {background-image: url(/images/bg-4.png); background-size: contain; background-repeat:no-repeat; background-position: bottom;}

.project ul li:nth-child(1):hover a {background-color:#A7292A; color:#fff;}
.project ul li:nth-child(2):hover a {background:#2E62D9; color:#fff;}
.project ul li:nth-child(3):hover a {background:#ED6A00; color:#fff;}
.project ul li:nth-child(4):hover a {background:#D5D1C6;}
.project ul li:hover {transform: translateY(-20px);}






@media (max-width: 767px) {

  section {max-width: 100%; padding:30px;}
  h3 {font-size: 24px;}

  .nav-wrap {position: relative; top:0;}
  .nav .inner {max-width: 100%;}
  .nav .inner div:nth-child(2) {display: none;}


  .intro {height: 100%; padding-top: 40px;}
  .intro p {font-size: 16px;}
  .intro .btn a {margin-top: 40px;}

  .project {height: 100%;}
  .project ul {grid-template-columns: 1fr; margin-top: 20px; gap:30px;}
  

}